*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family: monospace;
}

.containar {
    display: flex;
    flex-direction: column;
    align-items: center;
    border:5px solid #2f2f2f;
    width: 500px;
    aspect-ratio: .8;
    background-color: black;
    padding: 1px;
    margin: 15vh auto;
    
    
}
p, .rows{
    flex-grow: 1;
    align-self: stretch;
    
}
p{
    background-color: #b2b9b7;
    text-align: end;
    font-size: 60px;;
    margin-bottom: 2px;
    border-radius: 2%;
    height : 15%;
    flex-grow: 0;
    overflow: scroll;
    /* direction: rtl; */
    padding: 10px;
}

.rows{
    display: flex;
    /* justify-self: ; */
    border-radius: 8%;

}

.ops{
    flex:1;
    font-size: 55px;
    border: 1px solid black;
    border-radius: 10%;
}

.ze{
    flex: 2;
}

.util{
    background-color: #1e90ff;
}
.op{
    background-color: #ff8f1f;
}
.num{
    background-color: #217c7e;
}